.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 10px;
    max-width: 50%;
    height: 70%;
    margin: 2%;
    border-style: none;
}

.search-icon {
    margin-right: 8px;
    color: #0dac18;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
}
