body{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}
.Nav-bar{
    display: flex;
    text-decoration: none;
    place-content: center;
}
.Nav-bar li{
    margin: 20px;
    list-style-type: none;
    margin-left: 20px;
}
.Nav-bar li:hover{
    cursor: pointer;
    color: orangered;
    font-size: 25px;
}
.button{
    background-color: orangered;
    padding: 13px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    margin-top: 30px;
    margin-left: 200px;
}
.button:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.navbar-top{
    display: flex;
    place-content: center;
}
.first-div{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
}
.image{
    width: 200px;
    height: 200px;
}